<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>TODO list</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of allTodos">
            <td *ngIf="!newDescription">{{ todo.description }}</td>
            <!-- <td *ngIf="newDescription">{{newDescription}}</td> -->
            <td>
              <button class="btn btn-warning" (click)="onOpenModal(todo)"> Edit</button>
            </td>
            <td>
              <button class="btn btn-danger" (click)="deleteTodo(todo.todo_id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
